body {
	font-size: small;
	font-family: sans-serif;
	
}

.selected {
	opacity: 0.5;
}
/*
.game {
	width: 80%;
	max-width: 1024px;
	height: 500px;
	margin: 0 auto;
	background:url(assets/game.jpg);
	position: relative;
	cursor: pointer;
}

.coin {
	width: 40px;
	height: 40px;
	background: url(assets/coin.jpg) no-repeat -7px -3px;
	background-size: 130% 125%;
	border-radius: 50%;
	padding: 0;
	position: absolute;
}
.score {!
	position: absolute;
	font-size: 3em;
	color: #fff;
	right: 5px;
}
.time {
	position: absolute;
	font-size: 3em;
	color: #fff;
	width: 60px;
}
.coins {
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
}*/

.a {
	
}